<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968720554966-orp8hfqi3ai6ee5il164pv2177l7vqd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968720554966-orp8hfqi3ai6ee5il164pv2177l7vqd7</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ796AFtNbTAUJO54wRvas9znCXyRnEVI</string>
	<key>GCM_SENDER_ID</key>
	<string>968720554966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miguelferrer.lostanimals</string>
	<key>PROJECT_ID</key>
	<string>lostanimals-73cae</string>
	<key>STORAGE_BUCKET</key>
	<string>lostanimals-73cae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968720554966:ios:966a2947b17b280cce6277</string>
</dict>
</plist>